#conteneur{
	
     display: flex;
   
}
#element1 {    
    background-color: #FF9E80;
    width: 700px;

}
img { 
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: 4px solid white;
   border-radius: 50px / 50px;
}
#element1 h2{
	background-color: white;
	text-align: center;
}
.logo{

    display: flex;
    justify-content: space-around;
}
.description{
	margin-left: 30%;
	width: 60%;
}
#element2 {    
	margin-left: 50px;
	margin-right: 50px;

}
h2{
	border-bottom: solid #FF9E80;
}
.premier-ligne, .deuxieme-ligne, .troisieme-ligne, .quatrieme-ligne, .cinquieme-ligne, .sixieme-ligne, .septieme-ligne, .huitieme-ligne{
	
	display: flex;
	
}
#element2 i {
	margin-right: 20px;
}
#element1 i {

	text-align: center;
	 border: 2px solid black;
	 width: 60px;
	 height: 60px;
	 border-radius: 60px;

}
.coordonnees-premier{
	
	margin-right: 100px;

}
	