body {
	margin: 0;
}
#conteneur{
	
     display: flex;
   
}
#element1 { 
    position: relative;
    background-color: #FF9E80;
    width: 700px;
    text-align: justify;

    

}
img { 
   border: 3px solid #BDBDBD;
   border-radius: 100px / 100px;
   height: 200px;
   display: block;
   margin:auto;
   border-top: 50px;
   margin-top: 30px;
   margin-bottom: 30px;

}
#element1 h2{
	background-color: #BDBDBD;
	text-align: center;
}
.logo{

    display: flex;
    justify-content: space-around;
}
.description{
	margin-left: 30%;
	width: 60%;
}
#element2 {    
	margin-left: 50px;
	margin-right: 50px;

}
h2{
	border-bottom: solid #FF9E80;
}
.premier-ligne, .deuxieme-ligne, .troisieme-ligne, .quatrieme-ligne, .cinquieme-ligne, .sixieme-ligne, .septieme-ligne, .huitieme-ligne{
	
	display: flex;
	
}
#element2 i {
	margin-right: 50px;
	color: #FF9E80;
}
#element1 i {

	text-align: center;
	line-height: 60px;
	font-size: 40px;
	 border: 2px solid black;
	 width: 60px;
	 height: 60px;
	 border-radius: 60px;

}
.coordonnees-premier{
	
	margin-right: 200px;

}
#element1 p{
	margin-right: 30px;
	margin-left: 30px;	
}
.loisirs{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.moi{
	height: 600px;
}
@font-face {
    font-family: 'alegreyaregular';
    src: url('alegreya-regular-webfont.eot');
    src: url('alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('alegreya-regular-webfont.woff') format('woff'),
         url('alegreya-regular-webfont.ttf') format('truetype'),
         url('alegreya-regular-webfont.svg#alegreyaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header{
	margin-bottom: 130px;
}
header .trait {
	border-bottom: 2px solid #FF9E80;
}
header h1 span {
	color: #FF9E80;

}

header p {
	font-size: 30px;
}
header h1 {
	font-size: 60px;
}
h1 , h2 {
	font-family: 'alegreyaregular','arial',cursive;
}
i ,p {
	display: flex;
}
.formation .datte {
	width: 160px;
}
@media all and (max-width: 768px){

	#conteneur{
		display: block;

	}
	#element1{
		width: 100%;
	
	}
	.loisirs{
		bottom: 17px;
	}
	img {
		margin-top: 0px;
	}
	.photo {
		padding-top: 30px;
	}
	.huitieme-ligne{
		flex-direction: column;
		align-items: center;
	}
	.coordonnees-premier{
	
	margin-right: 0px;
	}

}
@media all and (max-width: 320px){
	p {flex-direction: column;

	}
	h1{
		text-align: center;
	}
	
}
